# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the poular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. sckit-learn
3. numpy
4. pyplotlib
5. ggplot2

| Data Science Tools |
|:-------------------|
| SQL Databases |
| Python |
| R |
| Libraries |
| Excel |
| Curiosity |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
(3*4)+5
#This is a simple arithmetic expression to multiply then add integers

17

In [5]:
#This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

**Objectives:**
- List data science languages
- List data science libraries
- Create a table of data science tools
- Create an arithmetic expression example
- Do simple multiplication and addition
- Convert minutes to hours
- (A little meta) List objectives covered in this notebook, which includes...

## Author
Adon Anglon